.sheet_preview {

    h4, h5 {
        padding-left: 8px;
        font-weight: 500;
    }

    .name, .value {
        padding: 8px 2px 8px 2px;
        margin:2px;
        font-size: calc(12px + 0.4vw);
        white-space: nowrap;
        text-align: left;
        max-width: calc( var(--width) / 2);
        overflow: overlay;
        line-height: 1.9em;
    }

}