.marker-cluster-small {
	background-color: rgba(255, 255, 255, 0.25);
	}
.marker-cluster-small div {
	background-color: rgba(255, 0, 0, 1);
	border:1px solid #fff;
	}
		
.marker-cluster-medium {
	background-color: rgba(255, 255, 255, 0.25);
	}
.marker-cluster-medium div {
	background-color: rgba(255, 0, 0, 1);
	border:1px solid #fff;
	}

.marker-cluster-large {
	background-color: rgba(255, 255, 255, 0.25);
	}
.marker-cluster-large div {
	background-color: rgba(255, 0, 0, 1);
	border:1px solid #fff;
	}
	
	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	box-shadow: 0 20px 15px rgba(0,0,0,0.5), 0 -1px 0px rgba(0,0,0,0.25)
	}
.marker-cluster div {
	width: 32px;
	height: 32px;
	margin-left: 4px;
	margin-top: 4px;

	text-align: center;
	border-radius: 16px;
	font-family: 'Rubik', 'Open Sans', sans-serif;
	font-size: 14pt !important;
    -webkit-font-smoothing: antialiased;
	}
.marker-cluster span {
	line-height: 32px;
	text-shadow: 1px 1px #202020;
	color:#fff;
	font-weight: 900;
	position: relative;
    top: -2px;
	}