* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,div,span,td {
  font-family: 'Rubik', 'Open Sans', sans-serif;
}
body{
  color: #50555a;
  padding: 80px 20px;
  box-sizing: border-box;
  overflow:hidden;
}

nav {
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  display:none;
  /*padding: 20px 0;*/
}

#mapApp { 
  height: 100%;
  position: fixed;
  top:0; /* 56px */ 
  left:0; 
  padding:0; 
  margin:0; 
  border: 0; /* 4px solid #f5f5f5; */
  border-radius: 0; /*4;*/ 
  background-image:-webkit-linear-gradient(top, #ffffff 0%, #F5F5F5 100%);
  cursor: default;
  transition-duration: .4s;
  overflow:hidden;
}

#mapData {
  position: fixed;
  width: 100%;
  left:0; 
  padding:0; 
  margin:0; 
  border:0; 
  border-radius:0; 
  background-image:-webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  cursor: default;
  overflow:hidden;
}

#panelBottom{
  background-image:-webkit-linear-gradient(top, #C0C0C0 0%, #ffffff 100%);
  position: absolute;
  width:100%;
  left:0;
  /*overflow:hidden;*/
}

.panelBottom-close{
  position: absolute;
  top: 0;
  color: #5C5C5C !important;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.15);
  right: 0;
  padding: 2px 6px 4px 6px;
  font-size: 10pt;
}

.panelBottom-close:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.searchResults-close{
  position: fixed;
  bottom: -10px;
  color: #5C5C5C !important;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  right: 47%;
  padding: 4px 6px 4px 6px;
  font-size: 10pt;
}
.searchResults-close:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
.countryOptTable
{
  opacity: 0.25;
  font-weight: 600;
  cursor: pointer;
}
.countrySelect
{
  border-radius:6px;
}
tr.countryRow
{
   
}

tr.countryRow:hover
{
  opacity: 0.75;
}

.bg-color {
  background-color: #f5f5f5;
  /*transition-duration: .5s;*/
}

.bg-color-program {
  background-color: #00b5e1;
  /*transition-duration: .5s;*/
}

.bg-color-program-son {
  background-color: #ffda6d;
  /*transition-duration: .5s;*/
}

.text-color {
  color: #46a1de;
  /*transition-duration: .5s;*/
}

.gmnoprint {
  margin-right: 15px;
  display: inline;
  white-space: normal;
  line-height: 13px;
  font-size: 10px;

}
.searchOpt
{
  border:1px solid #F5F5F5;
  border-radius:6px;
  padding:4px;
  margin:4px;
  font-size:20pt;
}
.myPin
{
  font-size:18px !important;
  color:#fff !important;
  position: relative !important;
  top: -11px !important;
  -webkit-font-smoothing: antialiased;
}
.cwsPin
{
  text-decoration: none;
  color: #fff !important;
  font-style: normal;
  position: relative !important;
  top: -11px !important;
  font-size: 14pt !important;
  -webkit-font-smoothing: antialiased;
}
.textShadow
{
  text-shadow: 1px 1px #808080;
}
.iconShadow
{
  text-shadow: 1px 1px #E6E6E6;
}
.searchIconFilter
{
  color:#fff;
  font-size: 15px;
  width:42px;
  max-width:40px;
  height:40px;
  padding:12px;
  margin: 0 10px 0 10px;
}
footer {
  padding: 40px 0;
  text-align: center;
  opacity: .33;
  color: white;
  box-sizing: border-box;
}

.wrapper {
  min-width: 300px;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}
.wrapper-log {
  min-width: 250px;
  max-width: 450px;
  margin: 0 auto;
  box-sizing: border-box;
}

.tabs, .tabs_log {
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  box-sizing: border-box;
}
.tabs > li {
  /*transition-duration: .25s;*/
  display: table-cell;
  list-style: none;
  text-align: center;
  /* COMMENTED OUT */
  /*padding: 20px 20px 25px 20px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;
  box-sizing: border-box;
}
.tabs > li > label{
  font-size: 1.1em;
  cursor: pointer;
  margin-left: 5px;
}
.tabs > li:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  /*transition-duration: .25s;*/
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
}
.tabs > li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
  box-sizing: border-box;
}
.tabs > li.active {
  color: #50555a;
}
.tabs > li.active:before {
  /*transition-duration: .5s;*/
  background-color: white;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.colors {
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}
.colors > li {
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  /*transition-duration: .2s;*/
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.colors > li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border-bottom: 10px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.colors > li.active-color {
  -webkit-transform: scale(1.2) translateY(-10px);
  transform: scale(1.2) translateY(-10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 20px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
.colors > li:nth-child(1) {
  background-color: #2ecc71;
}
.colors > li:nth-child(2) {
  background-color: #D64A4B;
}
.colors > li:nth-child(3) {
  background-color: #8e44ad;
}
.colors > li:nth-child(4) {
  background-color: #46a1de;
}
.colors > li:nth-child(5) {
  background-color: #bdc3c7;
}
/* */
.tab-image{
  max-width:80%;
  height:auto;
}
img{
  vertical-align:middle;
}
a{
  color:inherit;
}

/* Menu */

header {
  background-color: #fff;
  margin-bottom: 10px;
  height: 50px;
  border-bottom: solid 0.5px #ddd;
  box-sizing: border-box;
}
.logo_top {
  float: left;
  box-sizing: border-box;
}
.logo_desc {
  float: left;
  padding-top: 5px;
  box-sizing: border-box;
}
.logo-desc-all{
  /*float: left;*/
  display: inline-block;
  /*width: 75%;*/
  box-sizing: border-box;
}

/*
.m_top_cont {
  float: right;
  text-align: right;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
}
*/

.m_top {
  float: right;
  width: 90%;
  padding: 20px 0;
  margin-right: 1vw;
  box-sizing: border-box;
}
.lab_m{
  cursor: pointer;
}
#menu_e{
  float: right;
  display: none;
  cursor: pointer;  
  box-sizing: border-box;
}

.tb-content-d-log {
  float: left;
  width: 95%;
  margin: 10px;
  border: 1px solid #95989A;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
}
.tb-content-d {
  float: left;
  width: 47%;
  margin: 10px;
  border: 1px solid #95989A;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
}
.tb-content-result-log {
  float: left;
  width: 95%;
  margin: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
}
.tb-content-result {
  float: left;
  width: 47%;
  margin: 4px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #f5f5f5;
  text-align: left;
  box-sizing: border-box;
}
.tb-content-about {
  position: fixed;
  float: left;
  width: 97%;
  max-width: 900px;
  margin: 4px;
  border-bottom: 1px solid #DCDCDC;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
}
.tb-content-buttom {
  float: left;
  width: 96%;
  height: 50px;
  margin: 10px;
  border-radius: 4px;
  color: #333333;
  font-weight: bold;
  vertical-align:middle;
  font-size: 18px;
  background-color: #00b5e1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.tb-content-buttom-log {
  float: left;
  width: 96%;
  height: 50px;
  margin: 10px;
  border-radius: 4px;
  color: #333333;
  font-weight: bold;
  vertical-align:middle;
  font-size: 18px;
  background-color: #00b5e1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.tb-content-buttom-log-out {
  float: left;
  width: 96%;
  height: 50px;
  margin: 10px;
  border-radius: 4px;
  color: #333333;
  font-weight: bold;
  vertical-align:middle;
  font-size: 18px;
  background-color: #D64A4B;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.btn {
  /*-webkit-transition: all .2s ease-in-out 0s;*/
  /*transition: all .2s ease-in-out 0s;*/
}

.divBtn {
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.divBtn:active {
  box-shadow: none;
}
.from-string{
  font-size: 12px;
  border-bottom: 0;
  margin: 0;
  padding: 5px 10px 0;
  color: #95989A;
}
.about-string-header{
  font-size: 1.0em;
  /* font-size: 14; */
  border-bottom: 0;
  margin: 0;
  padding: 5px 10px 0;
  color: #333333;
  font-weight: 500;
}

/* Body */
.bodytop {
  z-index: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: 200px;
  padding: 7px 0;
  text-align: center;
  box-sizing: border-box;
}

.form-type-text{
  width: 99%;
  border: 0;
  font-size: 16px;
  color: #333333;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  margin: 1px;
  box-sizing: border-box;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-about-text{
  width: 99%;
  border: 0;
  font-size: 0.8em;
  color: #909090;
  /*font-size: 12;*/
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
  margin: 1px;
  box-sizing: border-box;
}
input[type=text]:focus{
  outline:0px;
}

/* ACTIVE */
.o-one {
  max-width: 250px;
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  box-sizing: border-box;
}

.o-one > li {
  transition-duration: .25s;
  display: table-cell;
  list-style: none;
  text-align: center;
  padding: 20px 20px 25px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;
  box-sizing: border-box;
}
.o-one > li > label{
  font-size: 1.1em;
}
.o-one > li:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-duration: .25s;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
}
.o-one > li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
  box-sizing: border-box;
}
.o-one > li.active {
  color: #50555a;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}
.o-one > li.active:before {
  transition-duration: .5s;
  background-color: white;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

-tb-content-rows{
  width: 100%;
  max-height: 400px;
  overflow: auto;
	overflow-y: auto;
  box-sizing: border-box;
}
.tb-content-row {
  width: 100%;
  border-bottom: solid 0.5px #95989A;
  box-sizing: border-box;
}

.tb-cont-row-top {
  width: 100%;
  margin-top: 10px;
  height: 70px;
  box-sizing: border-box;
}
.tb-cont-row-top-l {
  width: 60%;
  min-width: 200px;
  float: left;
  height: auto;
  box-sizing: border-box;
}
.tb-cont-row-top-r {
  width: 20%;
  min-width: 80px;;
  float: right;
  height: auto;
  box-sizing: border-box;
}
.tb-cont-row-top-l-desc {
  font-size: calc(10px + 0.5vw);
  text-align: left;
  width: 60%;
  float: left;
  height: auto;
  padding-top: 5px;
  margin-left: 2vw;
  box-sizing: border-box;
}
.tb-cont-row-top-r-desc {
  text-align: right;
  width: 100%;
  min-width: 100px;
  float: left;
  height: auto;
  box-sizing: border-box;
}
.tb-cont-row-top-r-desc img {
  max-width: 24px;
}
.open-color {
  color:#7dd11f;
}
.close-color {
  color:#e48825;
}
.tb-cont-row-body {
  width: 100%;
  clear: both;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.tb-cont-row-top-l-icon{
  float: left;
  width: 20%;
  min-width: 56px;
  text-align: left;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.tb-cont-row-top-l-icon img{
  max-width: 56px;
  min-width: 56px;
  box-sizing: border-box;
}

/* Mobile */
.menu-wrapper {
  display: none;
}

div.fixed_father {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 56px;
}
.fixed_child {
  position: fixed;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 91px;
  right: 40px;
  width: 200px;
  display: none;
}

.fixed_child img{
  padding-top: 5px;
  padding-bottom: 5px;
}

.off{
  content:url("../images/plus.svg");
}
.on{
  content:url("../images/plus_on.svg");
}
.pointer {
  cursor: pointer;
}
.logo_log {
  display: none;
  width: 200px;
  height: auto;
  box-sizing: border-box;
}
.menu-mobile {
  display: none;
  position: fixed;
  top: 0; /*56px*/
  left: 0;
  /* width: 100%; */
  height: 100vh;
  background-color: #F2F2F2; /*rgba(255, 218, 109, 0.938);*/
  z-index: 10;
  box-sizing: border-box;
  font-family: Roboto,RobotoDraft,'Open Sans',Arial,sans-serif;
}

.menu-mobile-row {
  position: relative;
  left: 0px;
  top: 0px;

  width: 100%;
  cursor: pointer; 
  display: table;
  margin: 0 auto;
  height: 52px;

  border-bottom: 1px solid #B1B1B1;
  box-sizing: border-box;
  font-family: Rubik,Roboto,RobotoDraft,'Open Sans',Arial,sans-serif;
  font-size: 16px;

  /*-webkit-font-smoothing: antialiased;
  padding: 3px 0 0 65px;
  overflow: hidden;
  white-space: nowrap;*/
}

.menu-mobile-row:hover {
  opacity: 0.75;
  background-color: #F2F2F2;
}

.menu-mobile-row td {
  text-align: left;
  margin-top: 14px;
  font-weight: normal;
  box-sizing: border-box;
}

.menu-mobile-icon {
  position: relative;
  left: 16px;
  width: 40px;
}

.menu-mobile-icon > img {
  opacity: 0.7;
}

.menu-mobile-label{
  top: 2px;
  padding: 0 0 0 20px;
}
act {
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}


/* Custom Select */

div.select {
  position: relative;
  display: block;
  width: 90%;
  /*margin: 10px;*/
  height: 3em;
  line-height: 3;
  /*border: 1px solid #95989A;*/
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  border-radius: .25em;
}

div.select::before {
  content: '\25BC';
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background-color: #fff;
  pointer-events: none;
}

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #333;
  cursor: pointer;
}

div.select select {
  border: none;
  background-color: White;
}

div.select select option {
  border: none;
  background-color: White !important;
}

select::-ms-expand {
  display: none;
}

img.rotate90 {
  transform: rotate(90deg);
}

div.formDivSec{
  background-color: #fff;
}
a.telNo{
  color:#7CBEF6 !important;
  letter-spacing: .5px;
}
a.telNo:hover{
  text-decoration: none !important;
}

a.searchresultSelector {
  cursor: pointer;
}

a.searchresultSelector:hover {
  opacity: 0.5;
  background-color: #46a1de;
}

.btnStyle1 {
  position: relative;
  padding: 1px 4px 2px 4px;
  border: 1px solid #C0C0C0;
  color: #236EDE;
  border-radius: 8px;
  font-size: calc(9px + 0.2vw);
}

.btnStyle1:hover {
  background-color: silver !important;
}

.cwsLogoRotateY{
  width: 100%;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
  animation-name: cwsLogoSpinY;
}

@-moz-keyframes cwsLogoSpinY { 25% { -moz-transform: rotateY(90deg); } }
@-webkit-keyframes cwsLogoSpinY { 25% { -webkit-transform: rotateY(90deg); } }
@keyframes cwsLogoSpinY { 25% { -webkit-transform: rotateY(90deg); transform:rotateY(180deg); } 50% { -webkit-transform: rotateY(270deg); transform:rotateY(360deg); }  }

.cwsLogoRotateSpin{
  width: 100%;
  -webkit-animation:spin 1.15s linear infinite;
  -moz-animation:spin 1.15s linear infinite;
  animation:spin 1.15s linear infinite;
  animation-name: cwsLogoRotate;
}

@-moz-keyframes cwsLogoRotate { 75% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes cwsLogoRotate { 75% { -webkit-transform: rotate(90deg); } }
@keyframes cwsLogoRotate { 50% { -webkit-transform: rotate(320deg); transform:rotate(320deg); opacity:0.75; } 66.6% { -webkit-transform: rotate(330deg); transform:rotate(330deg);opacity:0.9; } 80% { -webkit-transform: rotate(340deg); transform:rotate(340deg); opacity:1; } 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); opacity:1; }  }

input.loginUserPinNumeric
{
  background-color: none !important;
  border-left:1px solid #fff !important;
  border-right:1px solid #fff !important;
  border-top:0 !important;
  border-bottom:0 !important;
  width:0px !important;
  outline: none !important;
}

input.loginUserPinNumeric:focus
{
  border-left:0px solid #fff !important;
  border-right:0.5px solid #333 !important;

  animation: blink-input-focus 1000ms infinite ;

}

@-webkit-keyframes blink-input-focus {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink-input-focus {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
}

.card {
  margin: 15px;
}

.container {
  text-align: center;
}

.cssDefault {
  background-color: white !important;
  height: auto !important;
  width: auto !important;
}

button {
  background-color: white !important;
}

input {
  border-color: #ccc;
  border-width: thin;
  padding: 2px;
}

/* Would this help on Android */
select option {
  background-color: #FFF;
}

/* =========================== */
/* App Custom Style */

.reget {
  cursor:pointer;display: none;
}

.blockStyle {
  text-align: left;
}

.itemBlock{
  margin: 5px;
  padding: 3px;
  text-align: left;
} 

.testSec {
  margin: 5px;
  padding: 6px;
  background-color: #EEE;
  border: 1px solid silver;
  text-align: left;
}

.testBlock {
  display: inline-block;
  margin: 3px;
  padding: 5px;
  background-color: lightgreen;
  border: 1px solid gray;  
  cursor: pointer;
}

.btnType {
  display: inline-block;
  cursor: pointer;                
  margin: 5px;
}


.inputDiv {
  margin: 3px;
  padding: 5px;
  background-color: white;  
}

.titleDiv {
  display: inline-block;
  min-width: 90px;
  padding-left: 5px;
}

.entryDiv {
  display: inline-block;
  margin-left: 10px;
}

.actionsDiv {
  margin: 3px;
  margin-top: 9px;  
  padding: 5px;
  padding-left: 15px;
  background-color: rgb(240, 240, 240);    
}

.actionBtn {
  margin-right: 10px;
}

.selectionDiv 
{
    display: inline-block;
    cursor: pointer;                
}

.queueDiv,.redeemListDiv
{
  border: 1px solid darkolivegreen; 
  margin: 4px;
  padding: 4px;
  background-color: #d6d6e8;
  cursor: pointer;                
}

.listItemDetail {
  margin: 5px;
  padding: 5px;
  background-color: #EEE;
  color: darkblue;
  font-size: 13px;
}
/* =========================== */

/* =========================== */
/* From materialize.css */

body{
  margin: 0;
  display: block;
  /*font-size: 14px;*/
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  text-align: center;
}

.bgc_blue {
  background-color: #0D47A1 !important;
}

.bgc_orange {
  background-color: #ee6e73 !important;
}

a.brand-logo {
  font-size: 22px;
  color: white;
  text-decoration: none;
}

.errorMsg
{
  color: red;
  font-style: italic;
  font-size: 10px;
}

.topIconsTbl td {
  padding: 1px 2px;
}

/* =========================== */


#navDrawerDiv
{
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
  overflow-y: hidden;
  border-right: 3px solid inherit;
  background-color: #FFF;
}

#navDrawerHeader
{
  width:100%;
  height:100px;
  overflow: hidden;
  white-space: nowrap;
  background: #666666;
  color: #fff;
}

.navMenuHeader
{
  overflow: hidden;
  white-space: nowrap;
}

.transitionSmooth
{
  -webkit-transition: all 250ms, -webkit-transform 250ms; /* Safari */ 
  transition: all 250ms, transform 250ms;
  position: fixed;
}

.transitionRapid
{
  -webkit-transition: all 50ms, -webkit-transform 50ms; /* Safari */ 
  transition: all 50ms, transform 50ms;
  position: absolute;
}

.transitionRapid .menu-mobile-row
{
  opacity: 1;
}

.transitionSmooth .menu-mobile-row
{
  opacity: 1;
}


.cardShadow
{
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}
/* START > Background Patterns for ListPage item drag selector */ 
.crosshatch 
{ 
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg=="); 
    background-repeat: repeat;
}
.whitecarbon 
{ 
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg=="); 
    background-repeat: repeat; 
}
.smalldot 
{ 
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+"); 
    background-repeat: repeat; 
}
/* END > Background Patterns for ListPage item drag selector */ 

.rounded{
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

.roundedLeft{
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}
.roundedRight{
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}
.roundedTop{
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.soft_rounded{
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}
.round{
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
img.round:hover{
  background-color: #666666;
}

.flipVertical {
  /* Safari */
  -webkit-transform: rotate(-180deg);
  /* Firefox */
  -moz-transform: rotate(-180deg);
  /* IE */
  -ms-transform: rotate(-180deg);
  /* Opera */
  -o-transform: rotate(-180deg);
  }

.tableStats
{
  width:97%;
  margin:0;
  padding:5px;
  background-Color:#fff;
  border-collapse: separate;
  border-spacing: 0px 8px;
  color: #50555a;
}
.tableStats > thead > tr > th
{
  padding: 8px 8px 12px 8px;
  line-height: 1.2;
  font-size: calc(10px + 0.3vw);; 
  text-align: center;
}

.tableStats > tbody > tr 
{
  background-Color: #F5F5F5;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
.tableStats > tbody > tr > td
{
  /*border-bottom: 6px solid #fff;*/
  padding: 4px;
  line-height: 1.2;
  font-size: calc(11px + 0.2vw);; 
  text-align: center;
}

.statFiller
{
  width: 53px;
}
.menuStat
{
  padding: 0 4px 0 4px;
  font-size: 12px;
}
.lblStatSubmit, .lblStatQueue, .lblStatFailed
{
  opacity:0.75;
}
.menuDataStat
{
  position: relative; 
  top:0px; 
  left: 4px;
}

#notificationUpgrade
{
  box-sizing: border-box;
  position: fixed;
  bottom: 4%;
  right: 4%;
  height: 40px;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  padding: 10px 10px 10px 18px;
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #404040;
  color: #fff;
  white-space: nowrap;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.notifBtn
{
  font-size: calc(14px + 0.2vw);; 
  color: #8AB4F8;
  padding: 10px 4px 10px 4px;
  cursor: pointer;
}

.notifClose
{
  position: relative;
  left: 4px;
  top: -4px;
  cursor: pointer;
}

.notificationDark
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #404040;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.notificationLight
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #F5F5F5;
  color: #404040;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.notificationGray
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #F1F3F4;
  color: #404040;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.notificationGreen
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #31B031;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.notificationRed
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #B30000;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.notificationYellow
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #FFC800;
  color: #000;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.notificationOrange
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #B34A00;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.notificationBlue
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #0048FF;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.notificationPurple
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #9B7FE6;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}
.notifProgress
{
  background-Color:#202020;
  height:2px;
  width:0px;
  position:relative;
  left:1px;
}

.searchResultTable
{
  border: 2px solid rgba(0,0,0,0.1);
}
.searchResultTableSpacer
{
  padding:6px;
}
.groupBySearchContainer
{
  margin-bottom: 10px;
}
.groupBySearchResults
{
  font-size: 1em;
  color:#777;
  padding: 20px 4px 14px 14px;
}
.groupByField
{
  padding: 2px; 
  margin: 0 0 0 20px;
  width: 97%;
}
.groupByFieldHeader
{
  width:auto;
  color:#101010;
  padding:8px 4px 4px 0px;
  margin: 0 0 0 6px;
  font-weight: 600;
  border-top: 1px solid #F0F0F0;
}
.groupByResultBlock
{
  margin: 8px 8px 8px 34px;
}
.groupByFieldResultTable
{
  width: 100%;
  border-top: 1px solid #F5F5F5;
}
.groupByResultHeader
{
  color: #50555a; 
  font-size: 12px;
  padding: 8px 6px 4px 4px;
  vertical-align: middle;
}
.groupByHeaderField
{
  vertical-align: middle;
}
.groupByHeaderValue
{
  padding: 0 0 0 4px;
  vertical-align: middle;
}
.groupByFieldName
{
  color: #50555a;
  padding: 0 0 0 4px;
}


.imggroupByExpanded
{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/sharp-remove_circle_outline-24px.svg") no-repeat;
  opacity: 0.6;
  width:inherit;
  height: inherit;
  background-size: cover;
}
.imggroupByCollapsed
{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/sharp-add_circle_outline-24px.svg") no-repeat;
  opacity: 0.6;
  width:inherit;
  height: inherit;
  background-size: cover;
}

#divMsgAreaWrap
{
  position: fixed; 
  top: 56px; 
  left: 0; 
  width: 100%; 
  z-index: 1; 
  text-align: center; 
  padding: 5px;
  cursor: default;
}
        
#divMsgArea
{
  display: inline-block;
  padding: 3px 8px;
  background-color: #ffef8d;
  border: 1px solid #bbb;
  opacity: 0.85;
  border-radius: 3px;
  z-index: 1;
  position: relative;
}

#spanMsgAreaClose
{
  cursor:pointer;
  margin-left:5px;
}

#spanMsgAreaText
{
  color: #444;
  font-size: 0.8em;
}

/* =========================== */

img.enabled
{
  opacity:0.75;
}

img.disabled
{
  opacity:0;
}

img.rotateImg
{
  transform: rotate(180deg);
}

img.imgMore
{
  cursor: pointer;
}

/* START > HAMBURGER MENU 'ICON' */
div.nav-burger-container
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
#nav-toggle { position: absolute; left: 12px; top: 15px; }

#nav-toggle { cursor: pointer; padding: 5px 30px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 26px;
  background: #333;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -8px; 
}
#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/* END > HAMBURGER MENU 'ICON' */


/* START > PULSATING 'PROGRESS' CIRCLE */
#pulsatingCircle {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 20px;
  height: 20px;
}

#pulsatingCircle:before {
  content: '';
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 36px;
  /* background-color: #FFC61D; */
  animation: pulse-ring 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

  #pulsatingCircle:after {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: #FFC61D; */
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  animation: pulse-dot 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32) -.25s infinite;
}


@keyframes pulse-ring {
  0% {
    transform: scale(.15);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale( .25, .25 );
    opacity: .5;
  }
  50% {
    transform: scale( 0.75, 0.75 );
    opacity: .9;
  }
  100% {
    transform: scale( .5, .5 );
    opacity: .5;
  }
}
/* END > PULSATING 'PROGRESS' CIRCLE */


/* START > PROGRESS BAR */

#divProgressBar
{
  position: absolute;
  background-color: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  padding: 0;
  cursor: default;
  display: none;
}

.progress {
	position: fixed;
	height: 3px;
	display: block;
	width: inherit;
	background: transparent;
	border-radius: 1px;
	background-clip: padding-box;
	margin: 0;
  overflow: hidden;
  -webkit-transition: width 100ms; /* For Safari 3.1 to 6.0 */
  transition: width 100ms;
}
.progress .determinate {
  position: fixed;
  width: 100%;
  height: 3px;
  -webkit-transition: width 100ms; /* For Safari 3.1 to 6.0 */
  transition: width 100ms;
  background-color: #00b5e1;
}
.progress .indeterminate {
  background-color: #00b5e1;
}

.progress .indeterminate:before {
  content: '';
  position: fixed;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  height:3px;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; 
}

.progress .indeterminate:after {
  content: '';
  position: fixed;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  height:3px;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
      animation-delay: 1.15s; 
}

		  @-webkit-keyframes indeterminate {
			0% {
			  left: -35%;
			  right: 100%; }
			60% {
			  left: 100%;
			  right: -90%; }
			100% {
			  left: 100%;
			  right: -90%; } }
		  @keyframes indeterminate {
			0% {
			  left: -35%;
			  right: 100%; }
			60% {
			  left: 100%;
			  right: -90%; }
			100% {
			  left: 100%;
			  right: -90%; } }
		  @-webkit-keyframes indeterminate-short {
			0% {
			  left: -200%;
			  right: 100%; }
			60% {
			  left: 107%;
			  right: -8%; }
			100% {
			  left: 107%;
			  right: -8%; } }
		  @keyframes indeterminate-short {
			0% {
			  left: -200%;
			  right: 100%; }
			60% {
			  left: 107%;
			  right: -8%; }
			100% {
			  left: 107%;
        right: -8%; } 
      }
/* END > PROGRESS BAR */