.wapper_card {
    min-width: 240px;

    .card {
        width: 100%;
        min-height: 88px;
        padding: 16px 8px;
        letter-spacing: 1pt;
        background-color: $color-background;
        @include box-sizing(border-box);

        @include rwd-max(380) {
            min-height: 132px;
            height: 150px;
        }

        @include rwd-max(240) {
            height: 180px;
        }

        .card__sync {
            width: 100%;
            @include box-sizing(border-box);

            .card__sync-suppor_visuals {
                float: left;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-right: 8px;
                background-color: rgba($color-sl, 40%);
                @include box-sizing(border-box);
            }

            .card__sync_content {
                float: left;
                width: calc(100% - 172px);
                margin-right: 8px;
                height: auto;
                text-align: left;
                line-height: 16px;
                @include font-size(12px);
                @include box-sizing(border-box);

                @include rwd-max(380) {
                    width: calc(100% - 64px);
                    border-bottom: none;
                    margin-bottom: 12px;
                }

                .card__sync-date {
                    font-weight: 500;
                    @include box-sizing(border-box);
                }

                .card__sync-text {
                    @include box-sizing(border-box);
                }
            }

            .card__sync_cta {
                float: left;

                @include rwd-max(380) {
                    float: right;
                    margin-right: 8px;
                    width: calc(100% - 64px);
                }

                .card__sync_status {
                    text-align: right;
                    line-height: 10px;
                    line-height: 18px;
                    @include font-size(12px);
                    @include box-sizing(border-box);
                }

                .card__sync_cta1 {
                    float: left;
                    width: 36px;
                    height: 36px;
                    -webkit-box-align: center;
                    align-items: center;
                    margin-right: 32px;
                    cursor: pointer;
                    @include background-image('phone');
                    @include box-sizing(border-box);

                    @include rwd-max(380) {
                        margin-right: 32;
                    }
                }

                .card__sync_cta2 {
                    float: left;
                    width: 36px;
                    height: 36px;
                    -webkit-box-align: center;
                    align-items: center;
                    cursor: pointer;
                    @include background-image('sync-error_36');
                    @include box-sizing(border-box);

                    @include rwd-max(380) {
                        float: right;
                    }
                }
            }
        }

        .tab_fs {
            float: left;
            width: 100%;
            margin: 0;
            z-index:1999;
            @include shadow-b(none);

            .tab_fs__head {
                width: 100%;

            }
        }
    }

    ._tab {
        height: 120px;
        @include p-device(240) {
            width: 100%;
            height: 180px;
        }

        @include p-device(384) {
            width: 100%;
            height: 120px;
        }

    }

    .tab_fs__container {
        padding: 0;

        @include p-device(240) {
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            @include shadow-b(none);
        }

        @include l-device(320) {
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            @include shadow-b(none);
        }

        @include rwd-min(600) {
            margin: 0 auto;
            width: 100%;
            min-width: 600px;
            padding: 0 12px;
            background-color: #FFF;
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
            @include shadow-b(none);
        }

        .tab_fs__container-content {
            @include box-sizing(border-box);

            @include rwd-min(600) {
                width: 100%;
                height: auto;
                overflow: hidden;
                padding: 16px 0 4px;
            }

            .field {

                @include p-device(240) {
                    width: 100%;
                    margin: 0 0 8px;
                }

                @include l-device(320) {
                    width: 100%;
                    margin: 0 0 8px;
                }

                @include rwd-min(560) {
                    width: calc(50% - 8px);
                    margin: 0 4px 12px;
                }

            }

            .button {

                @include p-device(240) {
                    width: 100%;
                    margin: 0 0 8px;
                }

                @include l-device(320) {
                    width: 100%;
                    margin: 0 0 8px;
                }

                @include rwd-min(560) {
                    width: calc(50% - 8px);
                    margin: 0 4px 12px;
                }
            }

            table{
                width: 100%;
                padding: 0 8px;
                .c_left{
                    text-align: left;
                }
                .c_right{
                    text-align: right;
                }
            }
        }
    }
}