.sheet_full-fs {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0px;
    left: 0px;
    top: 0px;
    z-index: 2999;
    @include background-image('logo_bk');
    background-color: #FFF;
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
}