
/* ### LOGIN SCREEN ### */
/* 1. password numeric keypad */
#passReal {
    position: absolute;
    width: 0px !important;
    height: 0px;
    padding: 0 !important;
    margin: 0 !important;
}

input.loginUserPinNumeric
{
  background-color: none !important;
  border-left:1px solid #fff !important;
  border-right:1px solid #fff !important;
  border-top:0 !important;
  border-bottom:0 !important;
  width:0px !important;
  outline: none !important;
}
input.loginUserPinNumeric:focus
{
  border-left:0px solid #fff !important;
  border-right:1px solid #333 !important;
  animation: blink-input-focus 1000ms infinite ;
}
@-webkit-keyframes blink-input-focus {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-input-focus {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
}
/* 2. animated CWS logo spin*/
.cwsLogoRotateY{
  width: 100%;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
  animation-name: cwsLogoSpinY;
}
@-moz-keyframes cwsLogoSpinY { 25% { -moz-transform: rotateY(90deg); } }
@-webkit-keyframes cwsLogoSpinY { 25% { -webkit-transform: rotateY(90deg); } }
@keyframes cwsLogoSpinY { 25% { -webkit-transform: rotateY(90deg); transform:rotateY(180deg); } 50% { -webkit-transform: rotateY(270deg); transform:rotateY(360deg); }  }
.cwsLogoRotateSpin{
  width: 100%;
  -webkit-animation:spin 1.15s linear infinite;
  -moz-animation:spin 1.15s linear infinite;
  animation:spin 1.15s linear infinite;
  animation-name: cwsLogoRotate;
}
@-moz-keyframes cwsLogoRotate { 75% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes cwsLogoRotate { 75% { -webkit-transform: rotate(90deg); } }
@keyframes cwsLogoRotate { 50% { -webkit-transform: rotate(320deg); transform:rotate(320deg); opacity:0.75; } 66.6% { -webkit-transform: rotate(330deg); transform:rotate(330deg);opacity:0.9; } 80% { -webkit-transform: rotate(340deg); transform:rotate(340deg); opacity:1; } 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); opacity:1; }  }
/* 3. loading CWS popup progressBar */
.startUpProgress
{
  background-color: rgba( 71, 83, 163,0.75);
  border-top: 1px solid #F5F5F5;
  height: 2px;
  margin: 0 2px 0 1px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 400ms, transform 400ms;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 -1px 0px rgba(0,0,0,0.25); */
}
/* ### LOGIN SCREEN ### */


/*  ### NAVMENU (DRAWER) ### */
/* Menu Smooth/Rapid TRANSITION UI EFFECT */
.transitionSmooth
{
  -webkit-transition: all 450ms, -webkit-transform 450ms; /* Safari */ 
  transition: all 450ms, transform 450ms;
  position: fixed;
}
.transitionRapid
{
  position: absolute;
}


/* POPUP NOTIFICATIONS (MsgManager) */
.notifBtn
{
  font-size: calc(14px + 0.2vw);
  padding: 10px 4px 10px 4px;
  cursor: pointer;
}
.notifClose
{
  position: relative;
  left: 4px;
  top: -4px;
  cursor: pointer;
}
.notificationDark
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #404040;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.notificationDark a {
  color: #8AB4F8 !important;
}
.notificationLight
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #F5F5F5;
  color: #404040;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.notificationLight a {
  color: #8AB4F8 !important;
}
.notificationGray
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #F1F3F4;
  color: #404040;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.notificationGray a {
  color: #8AB4F8 !important;
}
.notificationGreen
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #31B031;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.notificationGreen a {
  color: #FFC800 !important;
}
.notificationRed
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #B30000;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.notificationRed a {
  color: #FFA500 !important;
}
.notificationYellow
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #FFC800;
  color: #000;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.notificationYellow a {
  color: #000 !important;
}
.notificationOrange
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #B34A00;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.notificationYellow a {
  color: #fff !important;
}
.notificationBlue
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #0048FF;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.notificationBlue a {
  color: #BFD8FF !important;
}
.notificationPurple
{
  box-sizing: border-box;
  position: fixed;
  vertical-align: middle;
  z-index: 100000; 
  text-align: center; 
  cursor: default;
  font-size: calc(12px + 0.2vw);; 
  background-color: #9B7FE6;
  color: #fff;
  white-space: normal;
  opacity:1;

  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.notificationPurple a {
  color: #FFC800 !important;
}
.notifProgress
{
  background-Color:#202020;
  height:4px;
  width:0px;
  position:relative;
  left:1px;
}

/* ### BLOCKLIST CONTENT ### */
/* 1. favButton */
div.fixed_father {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 56px;
}
div.fixed_child {
  position: fixed;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 91px;
  right: 40px;
  width: 200px;
  display: none;
}
/* 2. viewsList controls */
.viewsSorter {
  position: sticky;
  cursor: pointer;
  width: 8%;
  text-align: center;
  vertical-align: middle;
}
.buttonSortOrder
{
  border: none;
  color: #6E6E6E;
  position: relative;
  top: -10px;
  background: #fff;
}
.buttonSortOrder::after {
  content: '\2807';
  font-size: 20px;
}
.viewsSorter > ul {
  display: flex; 
  flex-grow: 0; 
  position: absolute; 
  right: 0px; 
  top: 0px; 
  width: max-content; 
  flex-direction: column; 
  background: white; 
  z-index: 1000; 
  box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 5px 1px; 
  padding: 2px 2px 6px 6px;
  text-align: left;
  margin: 0 8px;
}
.viewsSorter > ul > li {
  padding: 4px 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
}
/* 3. blockList Items */
.tab__content_act {
  list-style-type: none;
}
.listItem {
  height: 60px;
  width: 100%;
}
.listItem_label_title{
  font-weight:400;
  position: relative;
  top: 0;
}
.listItem {
  width: 100%;
}
.listExpand {
  margin: 0 6px 20px 0;
}

.listItem_table{
  width:100%;
  border-spacing:0;
}
.listItem_data_preview {
  vertical-align:top;
  white-space:nowrap;
  cursor: default;
  height: min-content;
}
.listItem_voucher_status {
  vertical-align:top;
}
.listItem_action_sync{
  width:70px;
  position:relative;
  top:-16px;
  text-align: right;
  display: contents;
}
.listItem_statusOption {
  font-weight: 400 !important;
  font-size: 0.7rem; /*0.875rem*/
}
.act-l-more {
  padding: 12px 0 6px 15px;
}
img.listItem_icon_sync{
  width:28px;
  height:28px !important;
  background-color: #fff;
  border-radius: 14px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); */
  cursor: pointer;
}
img.listItem_icon_sync_done {
  box-shadow: none !important;
  cursor: default;
}
.listDataPreview{
  display: -webkit-flex;
  -webkit-justify-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.listItemDetail {
  margin: 5px;
  padding: 5px;
  background-color: #EEE;
  color: darkblue;
  font-size: 13px;
}

.listItem_icon_activityType {
  vertical-align: top;
  width: 60px;
  height:86px;
}
.expandable {
  font-size: 12px;
  font-weight: 400;
}
.expanded > div.activityContentDisplay {
  font-weight: 600;
}
ul li .expandable {
  position: relative;
  border-left-width: 6;
}

ul li .expandable:after,
ul li .expandable:before {
  top: 40%;
  left: 88%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
}

ul li .expandable {
  background-color: #fff;
  color: #333;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  left:0%;
  right:0%;
  top:0%;
  bottom: 0%;
  padding: 6px 0px 6px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
ul li .expandable+div {
  display: none;
}

ul li .expandable.expanded {
  color: #111;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  background: rgb(251,251,251);
}

ul li .expandable.expanded:after,
ul li .expandable.expanded:before {
  top: 12%;
  left: 88%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
}

ul li .expandable.expanded+div {
  display: block;
}

/* 4. blockList GroupBy blocks */
li.blockListGroupBy {
  margin-bottom: 4px;
}
li.blockListGroupBy > a {
  position: relative;
  border-left-width: 6;
  /*background-image: linear-gradient( #fff, #f5f5f5 );*/
  padding: 8px 8px 8px 28px;
  font-size:10pt;
  color: #333;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height:auto;
  border-top: #FFF .5px solid;
  border-bottom: #CCC .5px solid;
  box-sizing: border-box;
  font-weight: 400;
  background-repeat: no-repeat;

}
li.blockListGroupBy > a:after,
li.blockListGroupBy > a:before {
  top: 40%;
  left: 88%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
}
img.rotateImg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* ### FORM LAYOUT  ### */
/* 1. validation messages */

div.errorMsg
{
  color: #fff;
  /* font-style: italic; */
  font-size: 10px;
  position: relative;
  border-top: 2px solid red;
  top: 4px;
  width: fit-content;
}
div.errorMsgText {
  padding: 4px 6px 3px;
  background-color: #000;
  position: relative;
  z-index: 1;
  border-radius: 0 0 3px 3px;
}
div.errorMsgArrow
{
  display: block;
  width: 10px;
  position: absolute;
  background-color: red;
  left: 4px;
  top: -7px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg); /* Opera */
  border-radius: 0px 0px 4px 0;
}