    .wrapper {
      min-width: 290px;
    }

    .menu-wrapper {
      display: block;
    }

    p {
      font-weight: normal;
      color: #333;
    }

    ul {
      list-style-type: none;
      width: 100%;
      box-sizing: border-box;
    }

    ul li {
      font-size: 0.7em;
    }

    ul li .expandable {
      position: relative;
      border-left-width: 6;
    }

    ul li .expandable:after,
    ul li .expandable:before {
      top: 40%;
      left: 88%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
    }

    ul li .expandable {
      /* background: rgba(51, 51, 51, 0.02); */
      background-color: #fff;
      color: #333;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      /* height: 42px; */
      left:0%;
      right:0%;
      top:0%;
      bottom: 0%;
      padding: 6px 6px 6px 0;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
    }

    ul li .listExpandable {
      /* background: rgba(51, 51, 51, 0.02); */
      background-color: #fff;
      color: #333;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height:62px; /* 42px; */
      left:0%;
      right:0%;
      top:0%;
      bottom: 0%;
      padding: 6px 6px 6px 0;
      /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
      /* border-bottom: #ccc 0.5px solid; */
      box-sizing: border-box;
    }
    
    ul li .expandable+div {
      display: none;
    }

    ul li .expandable.expanded {
      color: #333;
      font-weight: 800;
      /* margin-bottom:5px; */
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
      background: rgb(251,251,251);
    }

    ul li .expandable.expanded:after,
    ul li .expandable.expanded:before {
      top: 12%;
      left: 88%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
    }

    ul li .expandable.expanded+div {
      display: block;
    }

    ul li .expandable .act-l {
      display: none;
    }
    ul li .expandable.expanded .act-l {
      display:block;
      /*width: auto;*/
    }

    #color-theroy .pgcolor-theroy {
      display: block;
    }

    .expanded {
      display: none;
    }

    li.dateGroup {
      margin-bottom: 4px;
    }
    li.dateGroup > a {
      position: relative;
      border-left-width: 6;
      background-image: linear-gradient( #fff, #f5f5f5 );
      padding: 10px 8px 8px 8px;
      font-size:10pt;
      color: #333;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height:auto;
      border-top: #FFF .5px solid;
      border-bottom: #CCC .5px solid;
      box-sizing: border-box;
      font-weight: 400;
    }

    li.dateGroup > a:after,
    li.dateGroup > a:before {
      top: 40%;
      left: 88%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
    }

    a.dateGroupSection
    {

    }

    .icons-status {
      clear: both;
      /*float: right;*/
      position: relative;
      text-align: right;
      width: 40px;
      box-sizing: border-box;
      left:10px;
    }

    .title-act-mobile {
      position: fixed;
      text-align: center;
      top: 56px;
      left: 0px;
      width: 100%;
      height: 36px;
      background-color: #fff;
      padding: 5px;
      /* border-bottom: dotted 0.5px #333; */
      box-sizing: border-box;
    }

    .icon-row {
      float: left;
      box-sizing: border-box;
      padding: 2px;
    }

    .icon-row > img
    {
      padding: 0 6px 0 6px;
    }
    .icon-arrow {
      float: right;
      box-sizing: border-box;
    }

    .arrow-paddTop {
      top: -2px; 
    }


    /* ---------------------- */
    /* Menu - hide listing, and dropdown */
    #menu_e {
      display: block;
    }


    .m_top {
      display: none;
    }

    /* ---------------------- */
    /* Tab Related Adjustment */
    .mainTab {
      border: none !important;
      padding: 0px !important;
      margin: 0px !important;
    }

    .mainTabContent {
      border: none !important;
      background-color: unset;
    }

    /* ======================= */
    /* 1A. Smallest Anchor Mode */
    @media screen and (max-width: 559px) {
      body {
        padding: 44px 0px;
      }
      .bg-color {
        background-color: #fff;
      }
      .settingsTopfiller {
        margin:62px 0 0 0;
      }
      .dateGroupPaddTop {
        margin-top: 58px;
      }
      #navDrawerDiv
      {
        max-width: 280px;
      }
      #spanOuName
      {
        width:62.5%;
      }
      /* VERSION MOBILE */
      .tabs,
      .o-one {
        display: none;
      }

      .bodytop {
        display: none;
      }

      .listItem {
        height: 60px;
      }
      .searchResultTable
      {
        border-bottom: 2px solid rgba(0,0,0,0.1);
        padding: 4px;
        width: 100%;
      }
      .groupByResultBlock
      {
        margin: 8px;
      }
      .icon-row {
        font-size: calc(9px + 0.4vw);
      }
      .whitecarbon {
        height: 57px;
      }
      .act-l {
        font-size: calc(9px + 0.4vw);
        padding: 12px 0 0px 15px;
      }
  
      ul li .expandable {
        /* margin: 40px 0 0 0; */
      }

      ul.tab__content_act > li.emptyListLi > .expandable {
        margin: 40px 0 0 0; 
      }

      .title-act-mobile {
        position: fixed;
        text-align: left;
        top: 56px;
        left: 0px;
        width: 100%;
        height: 48px;
        background-color: #fff;
        padding: 12px 5px 15px 19px;
        display: block;
        /*border-bottom: dotted 0.5px #333;*/
        box-sizing: border-box;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      }

      .title-act-mobile > label {
        font-size: 12px;
        padding: 0 0 0 10px;
      }

      img.expandable-arrow{
        width:20px;
        height:24px;
        position:relative;
        top: -6px; /*-2px;*/
      }

      .icons-status {
        padding: 5px;
      }

      .modalSymbol{
        background: #009788;
        max-width: 95%;
        width: 150%;
        text-align: center;
        border-radius: var(--bradius);
      }

      .previewPayload {
        width:95vw;
        height:96vh;
        left: 0;
      }

    }

    /* 1B. Tab content mode - hide Anchor */
    @media screen and (min-width: 560px) {

      body {
        padding: 80px 20px;
      }
      .bg-color {
        background-color: #f5f5f5;
      }
      /*.menu-wrapper {
        max-width: 320px;
        padding:16px;
      }*/
      #navDrawerDiv
      {
        max-width: 400px;
      }
      #spanOuName
      {
        width:70%;
      }
      #localStatistics
      {
          background-color: #FFF;
      }
      /*tab_content_act*/
      .tab_content a.expandable {
        display: none !important;
      }

      .tab_content,
      .tab_content_act {
        background-color: white;
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid #fff;
      }

      .tab_content > li {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        list-style: none;
        background-color: #ffffff;
        box-sizing: border-box;
      }
      .searchResultTable
      {
        border-bottom: 2px solid rgba(0,0,0,0.1);
        padding: 4px;
        width: 100%;
      }
      .groupByResultBlock
      {
        margin: 8px 8px 8px 34px;
      }
      .active {
        z-index: 1;
        /*padding-top: 20px;*/
      }

      .title-act-mobile {
        display: none;
      }

      .icons-status {
        padding-right: 5px;
        font-size: calc(10px + 0.4vw);
        box-sizing: border-box;
        top: -4px;
      }
      .icons-status img{
        top: 2px;
        position: relative;
      }
      
      .icon-row {
        font-size: calc(9px + 0.2vw);
        height: 60px;
      }
      .whitecarbon {
        height: 66px;
      }
      .icon-row img{
        height: 48px;
      }

      .act-l {
        font-size: calc(9px + 0.2vw);
        padding: 8px 0 0 15px;
      }
  
      ul li .expandable {

      }

      .icon-arrow {
        float: right;
        box-sizing: border-box;
      }
  
      .act-r {
        float: right;
        text-align: right;
        font-size: calc(9px + 0.2vw);
        box-sizing: border-box;
      }
      .tab_content_log li a {
        display: none;
      }


      img.expandable-arrow{
        width:24px;
        height:24px;
        position:relative;
        top:-12px; /*-2px;*/
      }

      .modalSymbol{
        background: #009788;
        max-width: 95%;
        width: 50%;
        text-align: center;
        border-radius: var(--bradius);
      }


      .previewPayload {
        min-width: 500px;
        max-width: 50vw;
        height: 96vh;
      }

    }
    /* ======================= */

    /* ==================================== */
    /* 2A. 1 column input less than 866px */
    @media screen and (max-width: 865px) {
      #navDrawerDiv
      {
        max-width: 360px;
      }
      .tb-content-d,
      .tb-content-result,
      .tb-content-buttom {
        width: 94%;
      }
    }

    /* 2B. 2 column input wider than 866px */
    @media screen and (min-width: 866px) {
      #navDrawerDiv
      {
        min-width: 400px;
      }
      .tb-content-d,
      .tb-content-result,
      .tb-content-buttom {
        width: 47%;
      }
    }
    /* ==================================== */
