@-webkit-keyframes rotation-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
  }
}

.rot_r_anim {
  -webkit-animation: rotation-right 2s infinite linear;
}

.rot_l_anim {
  -webkit-animation: rotation-left 2s infinite linear;
}

/* mixin for multiline */
