@import 'themes/_theme_default.scss',
'themes/_blue.scss';

@import 'abstracts/_setting.scss',
'abstracts/_mixins.scss';
//'tabstracts/_functions.scss'
//'tabstracts/_helpers.scss'

@import 'base/_typography.scss',
'base/_base.scss',
'base/_icons.scss',
'base/_animations.scss',
'base/_table.scss',
'base/_sheet_preview.scss';

@import 'components/_buttons.scss',
'components/_chips.scss',
'components/_nav-drawer.scss',
'components/_text_Fields.scss',
'components/_bottom_navigation.scss',
'components/_list.scss',
'components/_snackbars.scss',
'components/_selector.scss',
'components/_tabs.scss',
'components/_sheets_full.scss',
'components/_sheets_bottom.scss',
'components/_sheets_preview.scss',
'components/_card.scss',
'components/_fab.scss';
/*
'components/_menus.scss',
'components/_nav_rail.scss',
'components/_pickers.scss',
'components/_sheet_side.scss',
'components/_tooltips.scss',
*/

@import 'components/selection_controls/_checboxes.scss',
'components/selection_controls/_radio_buttons.scss',
'components/selection_controls/_switches.scss';

/*
@import 'components/progress_indicators/_linear_progress_indicators.scss',
'components/progress_indicators/circular_progress_indicators.scss';
*/

/*
@import 'components/liders/_continuous_slider.scss,
'components/liders/_discrete_slider.scss';
*/


@import 'layout/_app_bar_top.scss',
'layout/_app_bar_top_two.scss',
'layout/_cols.scss',
'layout/_grid.scss',
'layout/_login.scss',
'layout/_dialogs.scss';
/*
'layout/_header.scss',
'layout/_footer.scss',
'layout/_sidebar.scss',
'layout/_forms.scss',
'layout/_dialogs.scss',
'layout/_data_tables.scss',
'layout/_banners.scss',
'layout/_image_list.scss;
*/

/*
@import 'pages/_login.scss',
'pages/_settings.scss;
...
*/

@include button(map-keys($button-colors)...);
@include themable(theme-blue, $blue-fc-50, $blue-bg-50, $blue-fc-100, $blue-bg-100, $blue-fc-200, $blue-bg-200, $blue-fc-300, $blue-bg-300, $blue-fc-400, $blue-bg-400, $blue-fc-500, $blue-bg-500, $blue-fc-600, $blue-bg-600, $blue-fc-700, $blue-bg-700, $blue-fc-800, $blue-bg-800, $blue-fc-900, $blue-bg-900);

.color_status_pending {
    color: $color_sync_pending;
}

.color_status_pending_msg {
    color: $color_sync_pending_msg;
}

.color_status_sync {
    color: $color_sync;
}

.color_status_error {
    color: $color_error;
}

.wrapper_palette {
    width: 90%;
    min-width: 600px;
    height: 100%;
    margin: 0 auto;
    @include box-sizing(border-box);

    .intro_text {
        width: 100%;
        height: auto;
        padding-bottom: 36px;
        font-weight: 300;
        @include font-size(14px);
        @include box-sizing(border-box);
    }
}

.palette {
    float: left;
    width: 10%;
    min-width: 320px;
    height: auto;
    padding: 0 8px 36px 0;
    @include box-sizing(border-box);

    .palette__title {
        float: left;
        width: 100%;
        height: auto;
        padding: 8px;
        font-weight: 500;
        @include font-size(14px);
        @include box-sizing(border-box);
    }

    .palette__color {
        float: left;
        width: 100%;
        height: auto;
        padding: 8px;
        @include font-size(16px);
        @include box-sizing(border-box);

        .palette__color_class {
            float: left;
            width: 50%;
            height: auto;
            padding: 8px;
            @include font-size(16px);
            @include box-sizing(border-box);
        }

        .palette__color_hex {
            float: left;
            width: 50%;
            height: auto;
            padding: 8px;
            text-align: right;
            @include font-size(16px);
            @include box-sizing(border-box);
        }
    }
}