.table-wrap {
    table {
        width: 100%;
        border-collapse: collapse;
        font-family: 'Rubik', sans-serif;
        @include font-size(12px);

        th {
            font-weight: 400;
        }

        td {}

        tr {}
    }
}