@import 'themes/_theme_default.scss',
'themes/_colors.scss';

@import 'abstracts/_setting.scss',
'abstracts/_mixins.scss';
//'tabstracts/_functions.scss'
//'tabstracts/_helpers.scss'

@import 'base/_typography.scss',
'base/_base.scss',
'base/_icons.scss';
//'base/_reset.scss'
//'base/_animations.scss'

@import 'components/_buttons.scss',
'components/_chips.scss',
'components/_nav-drawer.scss',
'components/_text_Fields.scss',
'components/_bottom_navigation.scss',
'components/_list.scss',
'components/_snackbars.scss',
'components/_selector.scss',
'components/_tabs.scss',
'components/_sheets_bottom.scss',
'components/_card.scss',
'components/_fab.scss';
/*
'components/_menus.scss',
'components/_nav_rail.scss',
'components/_pickers.scss',
'components/_sheet_side.scss',
'components/_tooltips.scss',
*/

@import 'components/selection_controls/_checboxes.scss',
'components/selection_controls/_radio_buttons.scss',
'components/selection_controls/_switches.scss';

/*
@import 'components/progress_indicators/_linear_progress_indicators.scss',
'components/progress_indicators/circular_progress_indicators.scss';
*/

/*
@import 'components/liders/_continuous_slider.scss,
'components/liders/_discrete_slider.scss';
*/


@import 'layout/_app_bar_top.scss',
'layout/_app_bar_top_two.scss',
'layout/_cols.scss',
'layout/_grid.scss',
'layout/_login.scss',
'layout/_dialogs.scss';
/*
'layout/_header.scss',
'layout/_footer.scss',
'layout/_sidebar.scss',
'layout/_forms.scss',
'layout/_dialogs.scss',
'layout/_data_tables.scss',
'layout/_banners.scss',
'layout/_image_list.scss;
*/

/*
@import 'pages/_login.scss',
'pages/_settings.scss;
...
*/

@include button(map-keys($button-colors)...);

.color_status_pending{color: $color_sync_pending;}
.color_status_pending_msg{color: $color_sync_pending_msg;}
.color_status_sync{color: $color_sync;}
.color_status_error{color: $color_error;}